// Apply a natural box layout model to all elements
// but allowing components to change
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
html {
    box-sizing: border-box;
}
body {
    margin: 0;
    background: black;
    min-height: 400vh;
}
*, *:before, *:after {
    box-sizing: inherit;
}

// Canvas
canvas {
    position: fixed;
    top: 0;
}